*{
    margin: 0px;
    padding: 0 ;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
.clearfix :after{
    content:"";
    display: table;
    clear: both;
}
body{
    background-color: white;
}
header{
    border: 1px solid blue;
    height: 70px;
    background-color: #FF4500;
   

}
span{color: aliceblue;

}
main .class{
    float: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 50px; 
}
main .class.pic{
    display: block;
}
.marc{
    color: grey;
}
ul{
    list-style-type: none;
}
.prix{
    color: red;
}